<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.app.mapper.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.app.domain.ProductCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="show_status" property="showStatus" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="getPacByProductId" parameterType="long" resultType="com.aaa.lee.app.domain.ProductCategory">
select ppc.shop_id,ppc.`name`,ppc.parent_id,ppc.`level`,ppc.show_status,ppc.icon,ppc.keywords,ppc.description
from pms_product pp inner join pms_product_category ppc where pp.shop_id = ppc.shop_id AND pp.shop_id = #{shopId}
  </select>

</mapper>